.bsp/
.idea/
./idea_modules
project/
target/

*.iml

# compiled classes
*.class

# log files
*.log

# package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.bkp
.lib/
config/

### Ignored files from this project ###
src/main/scala/com/steam/reviews/pocs
src/main/resources/1gb/
src/main/resources/2gb/
src/main/resources/3gb/
src/main/resources/4gb/
src/main/resources/500mb/
src/main/resources/steam_reviews_original.csv

